---
import video from '$assets/videos/video.mp4'
---

<section class="bg-yellow-800 xl:sticky xl:top-0">
	<video class="h-112 w-full object-cover opacity-60" src={video} autoplay loop muted playsinline></video>
</section>
