---
import { Image } from 'astro:assets'
import Container from '$components/Container.astro'
import Columns from '$components/Columns.astro'
import TextBox from '$components/TextBox.astro'
import imgA from '$assets/images/info-03a.webp'
import imgB from '$assets/images/info-03b.webp'
---

<Container>
	<Columns>
		<Fragment slot="col-1">
			<TextBox title="¿Manchas en la piel por culpa de las cremas?">
				<p>Hay personas que afirman que las manchas en la piel son causadas por los ingredientes químicos tóxicos presentes en los protectores solares. La mayoría de los estudios respaldan la seguridad y eficacia de los protectores solares aprobados por las autoridades sanitarias.</p>
				<p>Lo cierto es que las manchas en la piel son más comúnmente causadas por la exposición al sol sin protección adecuada. Tener a mano un serum anti manchas como el <a class="font-bold text-yellow-500 underline hover:no-underline" target="_blank" href="https://www.garnier.es/marcas/fluidos-antimanchas-uv">Vitamina C Anti-UV Diario</a> de Garnier <strong>reduce hasta un 70% de las manchas</strong>, además se adapta a los diferentes tonos de piel.</p>
			</TextBox>
		</Fragment>
		<Fragment slot="col-2">
			<div class="container-inline-size">
				<Image class="ml-auto w-[48cqw] lg:animate-parallax-t" src={imgA} width={476} alt="" />
				<Image class="-mt-[21cqw] w-[49cqw] lg:animate-parallax-b" src={imgB} width={486} alt="" />
			</div>
		</Fragment>
	</Columns>
</Container>
