---
import Container from '$components/Container.astro'
import Columns from '$components/Columns.astro'
---

<Container bgYellow>
	<Columns>
		<Fragment slot="col-1">
			<h2 class="text-center font-serif text-4xl font-semibold uppercase italic md:text-6xl">Protegerse del sol no es optativo</h2>
		</Fragment>
		<Fragment slot="col-2">
			<div class="grid gap-6 font-medium">
				<p>En resumen, protegerse del sol no es una cuestión exclusiva del verano; es una necesidad diaria para mantener la piel sana y libre de manchas. La <strong>aplicación regular de protector solar, junto con una adecuada hidratación y exfoliación</strong>, puede marcar la diferencia en la apariencia y salud de tu piel.</p>
				<p>Optar por la protección adecuada no solo ayuda a prevenir las manchas solares y el envejecimiento prematuro, sino que también mantiene la vitalidad y juventud de tu piel. Recuerda que cuidar tu piel es una inversión a largo plazo: un pequeño esfuerzo diario puede proporcionar grandes beneficios en el futuro. <strong>Mantén tu piel viva y radiante</strong> con una protección solar constante y consciente.</p>
			</div>
		</Fragment>
	</Columns>
</Container>
