---
import { Image } from 'astro:assets'
import imgLogo from '$assets/images/logo.webp'
---

<footer class="relative bg-yellow-300">
	<div class="container flex flex-col items-center gap-6 text-center">
		<p>ElTiempo Content para</p>
		<Image class="w-48" src={imgLogo} width={384} alt="" />
	</div>
	<footer class="m2 m-0 bg-yellow-300">
		<div class="container">
			<ul class="c1">
				<li>
					<a href="https://www.eltiempo.es/legal/politica-privacidad.html">Política de Privacidad</a>
				</li>
				<li>
					<a href="https://www.eltiempo.es/legal/condiciones-generales.html">Aviso legal</a>
				</li>
				<li>
					<a href="https://www.eltiempo.es/legal/politica-cookies.html">Política de Cookies</a>
				</li>
			</ul>

			<p>
				<a href="https://www.eltiempo.es/">© El tiempo, Pelmorex Weather Networks 2021</a>
			</p>
		</div>
	</footer>
</footer>
